{% extends 'base.html' %}

{% block title %}Notifications{% endblock %}

{% block content %}
<div class="container">
    <h1>Your Notifications</h1>
    <ul class="list-group">
        {% for notification in notifications %}
            <li class="list-group-item {{ 'list-group-item-success' if not notification.is_read else '' }}">
                {{ notification.message }} ({{ notification.created_at }})
            </li>
        {% empty %}
            <li class="list-group-item">You have no new notifications.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}